* {
  font-family: "Fugaz One", sans-serif !important;
}

header {
  background-color: #e3ba9b;
}

.search-form {
  background-color: #b78560;
  border-color: #b78560;
}

div.footer {
  background-color: #e3ba9b;
  padding: 0 5vw;
}

.footer .socials {
  font-size: 30px;
}

.btn-primary {
  background-color: #75441f;
  border-color: #4d2507;
}

.btn-primary:hover {
  background-color: #4d2507;
  border-color: #2d1604;
}

.link-active {
  color: #b78560;
  background-color: #fff2e9;
  border: #000 3px solid;
  border-radius: 10px;
}

.link-active:hover {
  color: #b78560;
  background-color: #000;
}
